<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6">
        <h1 class="panel-title text-left">Contacts</h1>
      </div>
      <div class="col-xs-6">
        <button class="btn btn-success">New Contact</button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <h3>Name</h3>
    <h3>Name</h3>
    <!-- <div *ngFor="let contact of contacts" class="row contact-item">
      <div class="col-xs-6">
        <h3>Name</h3>
        <div class="col-xs-6 text-right">
          <img src="" alt="">
        </div>
      </div>
    </div> -->
  </div>
</div>
