<div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-6">
          <h1 class="panel-title text-left">Contacts</h1>
        </div>
        <div class="col-xs-6 text-right">
          <button class="btn btn-success">New Contact</button>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div *ngFor="let contact of contacts" class="row contact-item">
        <div class="col-xs-6">
          <h3>{{ contact.name }}</h3>
        </div>
        <div class="col-xs-6 text-right">
          <img [src]="contact.imageUrl" alt="Image of {{ contact.name }}" class="contact-image">
        </div>
      </div>
    </div>
  </div>  